@media (prefers-color-scheme: dark){
  :root{
    --bg:#082617;
    --surface:#0d2313;
    --fg:#9ac0b1;
    --fg-muted:#99d0af;
    --border:#233b2e;
    --brand:#43cf99;
    --brand-600:#3d927a;
    --brand-100:#327f5a;
    --brand-meta: color-mix(in srgb, var(--surface) 92%, #fff 8%);
  }

  .sidebar { background: var(--surface); }
  .news-card__meta{
    background: color-mix(in srgb, var(--surface) 92%, #fff 8%);
  }
}