@media (prefers-color-scheme: dark){
  :root{
    --bg:#082617;
    --surface:#0d2313;
    --fg:#449374;
    --fg-muted:#99d0af;
    --border:#233b2e;
    --brand:#1d5e45;
    --brand-600:#3d927a;
    --brand-100:#327f5a;
    --brand-meta: color-mix(in srgb, var(--surface) 92%, #fff 8%);
  }

  .sidebar { background: var(--surface); }
  .news-card__meta{
    background: color-mix(in srgb, var(--surface) 92%, #fff 8%);
  }
}

.app-theme-root[data-theme="dark"]{
  --bg:#07402b;
  --surface:#063018;
  --fg:#70c68e;
  --fg-muted:#96baa4;
  --border:#0e452d;
  --brand:#1d5e45;
  --brand-600:#3d927a;
  --brand-100:#327f5a;
  --brand-meta: color-mix(in srgb, var(--surface) 92%, #fff 8%);
}